* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    border-radius: 12px;
    background: #22252D;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px 12px 0px 0px;
    background-color: black;
    padding: 1rem;
    font-size: 2rem;
    color: #ffff;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
 
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow {
   background-color: rgb(140, 186, 48);
   color: #ffff;
}

.btn-grey {
    background-color: rgb(35, 34, 34);
    color: #ffff;
}

.equal{
background-color: rgb(38, 132, 246);
color: #ffff;
}

.btn-clear {
background-color: rgb(230, 81, 81);
color: #ffff;
}